<h1>Booking Plataform</h1>

<p><% @bookings.each do |l| %>
<%= l.user_game_id %>
<%= l.status %>
<%= l.start_date %>
<%= l.end_date %>
<%= l.user_id %>
<% end %>

<button class="btn btn-primary">  <%= link_to "New booking", new_game_booking_path(:game_id) %>
<button class="btn btn-primary">  <%= link_to "Delete booking", booking_path(:id) %>
<button class="btn btn-primary">  <%= link_to "All bookings", user_booking_index_path(:id) %>
