<h1>Booking</h1>
  <p>
    <strong>Game:</strong>
    <%= @booking.user_game_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @booking.status %>
  </p>

  <p>
    <strong>Start Date</strong>
    <%= @booking.start_date %>
  </p>
  <p>
    <strong>End Date</strong>
    <%= @booking.end_date %>
  </p>

  <p>
    <strong>User</strong>
    <%= @booking.user_id %>
  </p>
