<%# <h1>Users </h1>

<p><% @user.each do |l| %>
<%# <%= l.user_id %> %>
<%# <%= l.first_name %> %>
<%# <%= l.last_name %> %>
<%# <%= l.address %> %>
<%# <%= l.phone_number %> %>
<%# <%= l.rating %> %>
<%# <%= l.plz %> %>
<%# <% end %> %>

<%# <button class="btn btn-primary">  <%= link_to "New booking", new_game_booking_path(:game_id) %> %>
<%# <button class="btn btn-primary">  <%= link_to "All bookings", user_booking_index_path(:id) %> %> %>
