<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
  <div class="d-flex align-items-center">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://pngimg.com/uploads/dice/dice_PNG54.png" %>
      <% end %>
      <h1><%= link_to "Ludo", "/", class: "nav-link" %></h1>
      <p class="m-0 ms-3">Rent games fast and easy in your area!</p>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <li class="nav-item">  <strong>
            <%= link_to "My Bookings", "/dashboard", class: "nav-link border-dark" %>
          </li>
        <li class="nav-item">
            <%= link_to "All Games", user_games_path, class: "nav-link" %>
          </li>
        <li class="nav-item">
            <%= link_to "My Games", mine_path, class: "nav-link" %>
          </strong> </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dicpef1tv/image/upload/v1669285608/images_wpffau.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", "/users/edit" , class: "dropdown-item" %>
<%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
