<h1>Games</h1>

<p><% @games.each do |l| %>
<%= l.title %>
<%= l.year %>
<%= l.min_players %>
<%= l.max_players %>
<%= l.playtime %>
<%= l.image_url %>
<%= l.average_rating %>
<%= l.description %>
<% end %>

<button class="btn btn-danger"> <%= link_to "delete game", game_path(:id),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
