<h1>Game</h1>
  <p>
    <strong>Name:</strong>
    <%= @game.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= @game.year %>
  </p>

  <p>
    <strong>Max Players</strong>
    <%= @game.max_players %>
  </p>
  <p>
    <strong>Min Players</strong>
    <%= @game.min_players %>
  </p>

  <p>
    <strong>playtime</strong>
    <%= @game.playtime %>
  </p>

  <p>
    <strong>Average Rating</strong>
    <%= @game.average_rating %>
  </p>

  <p>
    <strong>description</strong>
    <%= @game.description %>
  </p>





</div>
