<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="user_games">
        <%= form_with url: games_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a game"
          %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to '/user_games/new', remote: true do %>
  <button class="btn btn-primary" style="float: right; background-color: #F27B21">Create a game list</button>
<% end %>
<h3 class="">My Lists</h3>
  <% @user_games.each do |l| %>
  <ul>
    <div class="card" style="width: 200px; height: 100px;"><%= image_tag "#{l.game.image_url}" %></div>
    <li><%= l.game.title %></li>
    <li><%= l.game.year %></li>
    <li><%= l.game.min_players %></li>
    <li><%= l.game.max_players %></li>
    <li><%= l.game.playtime %></li>
    <li><%= l.game.description %></li>
  <% end %>
  </ul>
<h1>BUTTON HERE</h1>

  </div>
</div>


<h1>User Games</h1>
