<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="user_games">
        <%= form_with url: user_games_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a game"
          %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to '/user_games/new', remote: true do %>
  <button class="btn btn-primary" style="float: right; background-color: #F27B21">Add a game to your List</button>
<% end %>

<h3 class="d-flex justify-content-around" >My Lists</h3>

<div class="container">
  <div class="row">

    <% @user_games.each do |l| %>
      <div class="col-6">
        <div class="card-product" style="margin: 15px">
          <%= link_to user_game_path(l) do  %>
            <img src="<%= "#{l.game.image_url}" %>" />
          <% end %>
          <div class="card-product-infos d-flex justify-content-between" style="margin: 5px">
            <div>
            </div>
            <div style="margin-left: 8px">
              <h3><%= l.game.title %></h3>


                <h6>Renting price: $<%= l.renting_price %></h6>
              <%= "#{l.game.description.first(150)} (...)" %>
              <% if l.user == current_user %>
                <%= button_to "Delete Game", user_game_path(l), method: :delete, class: "btn btn-danger"  %>
                <% else %>
              <%= button_to "Rent Game", new_user_game_booking_path(l.id), class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
