
<div class="card" style="width: 400px; height: 400px;">
  <ul>
  <p>URL IMAGE</p>
  <li><strong>Game Title</strong>
  <p><%= @user_game.game.title %></p></li>
  <li><strong>Year</strong>
  <p><%= @user_game.game.year %></p></li>
  <li><strong>Minimun Players</strong>
  <p><%= @user_game.game.year %></p></li>
  <li><strong>Max Players</strong>
  <p><%= @user_game.game.max_players %></p></li>
  <li><strong>Playtime</strong>
  <p><%= @user_game.game.playtime %></p></li>
  </ul>
</div>
